# Python
__pycache__/
.Python
.venv/

# Environment variables
.env

# Logs
*.log

# Data
# Игнорируем все графы LightRAG
/data/lightrag/*

# Но НЕ игнорируем граф NSU
!/data/lightrag/NSU
!/data/lightrag/NSU/**
